*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }




  @font-face {
    font-family: Norse-Bold;
    src: url("Norse-Bold.otf") format("opentype");
}
.grid-container{
    display:grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 35vh 45vh 20vh;
    border-style: black;
    font-family: sans-serif;
    
    
}

.grid-item{
    background-color: white;
    
    
}

.left-side{
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    background-image: url(leaf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.top-right{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #F0F0F0;
    font-size: 10px;
    display: grid;
    grid-template-rows: 8vh 8vh 8vh 8vh;
}

.header, .want-to{
    font-size: 1.25rem;
    font-weight: bold;
}

.header{

    grid-row: 2 / 3;
    font-size: 1rem;
    display: flex;
    align-items: center;
    max-width: 500px;
    

}

.want-to{
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
}

.form-part{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
   
    min-height:250px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin-top: 10px;
    
}

.form-header{
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 1.1rem
}

.bottom-right{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: white;
    box-shadow: -12px 3px 5px 4px rgb(0 0 0 / 10%);

}

.validation{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-width: 537px;
    min-height: 205px;
    
    

}

.top-right, .form-part,.button{
    padding-left: 50px;
}

.button{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
}


.side-bar{
    font-family: Norse-Bold;
    color: white;
    font-size: 80px;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    margin-top: 220px;
    height: 100px;
    

}

.odin-image{
    max-width: 100%;
    height: 100px;
    object-fit: cover;

}

.first-last, .email-phone , .password{
    display: flex;
    gap: 10px;
    padding-top: 10px ;
    padding-bottom: 10px;
    
}

input, label {
    display: block;
}

input{
    width: 250px;
    margin-top: 2px;
    border-radius: 5px;
    border: 2px solid #000;
    padding: 4px 8px;

}

button{
    background-color: #596D48;
    color: white;
    padding: 15px 32px;
    border-radius: 1rem;
    border-style: solid;
    margin-bottom: 20px;

}

legend{
    font-size: 30px;
   
}

input:invalid {
    border-color: red;
  }
  
  input:valid {
    border-color: green;
  }